<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.magicbeans.xgate">

    <!--bugly-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!--微信支付-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--APP权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.StrawberryApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:name"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ui.activity.FirstActivity"
            android:theme="@style/AppTheme.NoTitleFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.LoadUpActivity"
            android:theme="@style/AppTheme.NoTitleFullscreen" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.VersionActivity" />
        <activity android:name=".ui.activity.SuggestActivity" />
        <activity android:name=".ui.activity.LanguageActivity" />
        <activity android:name=".ui.activity.MsgSettingActivity" />
        <activity android:name=".ui.activity.SafeActivity" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoTitleFullscreen" />
        <activity android:name=".ui.activity.SignUpActivity" />
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.AddressActivity" />
        <activity android:name=".ui.activity.FavoActivity" />
        <activity android:name=".ui.activity.SignActivity" />
        <activity android:name=".ui.activity.EvaActivity" />
        <activity android:name=".ui.activity.MeDetailActivity" />
        <activity
            android:name=".ui.activity.ProductActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activity.ProductDetailActivity" />
        <activity android:name=".ui.activity.OrderAddActivity" />
        <activity android:name=".ui.activity.AddressAddActivity" />
        <activity android:name=".ui.activity.PayActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.PayResultActivity" />
        <activity android:name=".ui.activity.SectionActivity" />
        <activity android:name=".ui.activity.EvaListActivity" />
        <activity android:name=".ui.activity.ScanActivity" />
        <activity android:name=".ui.activity.SaleActivity" />
        <activity android:name=".ui.activity.ShopcartActivity" />
        <activity android:name=".ui.activity.HistoryActivity" />
        <activity android:name=".ui.activity.PayTestAdyenActivity" />
        <activity android:name=".ui.activity.OrderDetailActivity" />
        <activity android:name=".ui.activity.PayTestPaypalActivity" />
        <activity android:name=".ui.activity.OrderProductActivity" />
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="${applicationId}.braintree" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>