<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ins.common">

    <!--这些权限写入到comom中，因为这些权限几乎每个app必备，在主工程中不用再申请-->
    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 存储空间读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
